.popup__container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 430px;
    background-color: #fff;
    border-radius: 10px;
    padding: 34px 36px 37px;
    box-sizing: border-box;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
}

@media screen and (max-width: 767px) {
    .popup__container {
        width: 282px;
        padding: 25px 22px;
    }
}