.form__title {
    margin: 0 0 54px;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
}

@media screen and (max-width: 767px) {
    .form__title {
        margin: 0 0 75px;
        font-size: 18px;
        line-height: 22px;
    }    
}